body {
    font-family: Verdana, sans-serif;
}

ol li {
    border: 1px solid skyblue;
    border-radius: 4px;
    background-color: lightskyblue;
    padding: 2px 10px;
    margin: 4px 0;
}

li button {
    border: none;
    background-color: transparent;
    color: red;
}

#box-content {
    width: 350px;
    background-color: #fbfbfb;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 20px;
    margin: auto;
}
