body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#form-user-box h4 {
    text-align: center;
}

#form-user-box {
    border: 2px solid skyblue;
    border-radius: 4px;
    background-color: lightskyblue;
    width: 250px;
    margin: 20px auto;
    padding: 10px 20px;
}

form div {
    margin: 6px 0;
}

form input[type="text"], input[type="password"], input[type="email"] {
    width: 225px;
}

form input[type="submit"] {
    width: 150px;
    margin-top: 20px;
}

.error {
    font-size: 0.75em;
    color: red;
}